html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#board {
    display: none;
    width: 100vw;
    height: 100vh;
}

#beware-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: red;
    height: 100vh;
}

#beware-panel h1 {
    font-size: 5em;
    margin: 0px;
}

#beware-panel p {
    font-size: 1.5em;
    color: white;
}

#beware-panel button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: 1.5em;
    font-family: Times;
    border: 1px solid black;
}

.mobile-only {
  display: none;
}


@media (max-width: 767px) {
    .mobile-only {
        display: block;
   }
}


@media (orientation: portrait) {
    #board, #controls {
       display: none;
    }
    #rotate-overlay {
        display: flex;
        position: fixed;
        inset: 0;
        align-items: center;
        justify-content: center;
        background: black;
        color: white;
        font-size: 24px;
        text-align: center;
        z-index: 9999;
    }
}
@media (orientation: landscape) {
    #rotate-overlay { display: none; }
}
